<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
	</head>
	<body>
		<a th:href="@{/settings}">Settings</a><br/>
		<a th:href="@{/user}">User</a><br/>
		<a th:href="@{/department}">Department</a><br/>
		<a th:href="@{/designation}">Designation</a><br/>
		<a th:href="@{/transaction}">Transaction</a><br/>
		<a th:href="@{/grade}">Grade</a><br/>
		<a th:href="@{/employee}">Employee</a><br/>
		<a th:href="@{/food}">Food Attendance</a><br/>
		<a th:href="@{/attendance}">Employee Attendance</a><br/>
		<a th:href="@{/leave-manager}">Leave Management</a><br/>
		<a th:href="@{/salary}">Salary</a><br/>
	</body>
</html>