<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Leave Manager</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/js/leave-manager.js}"></script>
	</head>
	<body>
		<a th:href="@{/}" class="basePath">Home</a>
		<a class="submitUrl" th:href="@{/leave-manager/save}"></a>
		<br/>
		<hr/>
		<form th:object="${s}" th:action="@{/leave-manager/search}" method="POST" th:with="df=${'yyyy'}">
			<label>Year</label>
			<select id="year" name="year">
				<option th:each="y : ${s.years}" th:value="${y}" th:text="${y}" th:selected="${s.year == y}"></option>
			</select>
			<button type="submit">Search</button>
			<a th:href="@{/leave-manager}">Clear</a>
		</form>
		<hr/>
		<br/>
		<p th:if="${res ne null and res.status == false}" style="color: red;" th:text="${res.message}"></p>
		<p th:if="${res ne null and res.status == true}" style="color: green;" th:text="${res.message}"></p>
		<table id="food-attendance" border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Total Allocated Leave</th>
					<th>Total Unpaid Leave</th>
					<th>Carry From Prev Year</th>
					<th>Already Taken</th>
					<th>Annual</th>
					<th>Casual</th>
					<th>Sick</th>
					<th>Approved</th>
					<th>Not Approved</th>
					
				</tr>
			</thead>
			<tbody>
				<tr class="data-rows" th:each="f : ${lmList}">
					<td th:text="${f.username}"></td>
					<td th:text="${f.totalAllocatedLeave}"></td>
					<td th:text="${f.totalUnpaidLeave}"></td>
					<td>
						<input type="hidden" name="id" class="lmid" th:value="${f.id}"/>
						<input type="hidden" name="userId" class="userId" th:value="${f.userId}"/>
						<input type="hidden" name="totalAllocatedLeave" class="totalAllocatedLeave" th:value="${f.totalAllocatedLeave}"/>
						<input type="hidden" name="totalUnpaidLeave" class="totalUnpaidLeave" th:value="${f.totalUnpaidLeave}"/>
						<input type="number" class="carryFromPrevYear" name="carryFromPrevYear" th:value="${f.carryFromPrevYear}" min="0"/>
					</td>
					<td>
						<input type="number" class="alreadyTaken" name="alreadyTaken" th:value="${f.alreadyTaken}" min="0"/>
					</td>
					<td>
						<input type="number" class="annual" name="annual" th:value="${f.annual}" min="0"/>
					</td>
					<td>
						<input type="number" class="casual" name="casual" th:value="${f.casual}" min="0"/>
					</td>
					<td>
						<input type="number" class="sick" name="sick" th:value="${f.sick}" min="0"/>
					</td>
					<td>
						<input type="number" class="approved" name="approved" th:value="${f.approved}" min="0"/>
					</td>
					<td>
						<input type="number" class="notApproved" name="notApproved" th:value="${f.notApproved}" min="0"/>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="13">
						<button style="width: 100%; cursor: pointer;" class="submit-lm">Submit</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>