<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Salary</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/js/salary.js}"></script>
	</head>
	<body>
		<a th:href="@{/}" class="basePath">Home</a>
		<a class="submitUrl" th:href="@{/salary/save}"></a>
		<br/>
		<hr/>
		<form th:object="${s}" th:action="@{/salary/search}" method="POST" th:with="df=${'yyyy'}">
			<label>Month</label>
			<select id="month" name="month">
				<option th:each="m : ${T(com.kit.enums.Month).values()}"
						th:value="${m}"
						th:text="${m}"
						th:selected="${m.name() == s.month}">
				</option>
			</select>
			<label>Year</label>
			<select id="year" name="year">
				<option th:each="y : ${s.years}" th:value="${y}" th:text="${y}" th:selected="${s.year == y}"></option>
			</select>
			<button type="submit">Search</button>
			<a th:href="@{/salary}">Clear</a>
		</form>
		<hr/>
		<br/>
		<p th:if="${res ne null and res.status == false}" style="color: red;" th:text="${res.message}"></p>
		<p th:if="${res ne null and res.status == true}" style="color: green;" th:text="${res.message}"></p>
		<table id="food-attendance" border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Total Salary</th>
					<th>Break down</th>
					<th>Payable Salary</th>
					<th>Total Taken Leave</th>
					<th>Total Working Days</th>
					<th>Total Attend</th>
					<th>Total Leave</th>
					<th>Total Late</th>
					<th>Unposted Task</th>
					<th>Unpaid Leave</th>
					<th>Unpaid Leave Amount</th>
					<th>Food Days</th>
					<th>Food Amount</th>
					<th>Net payable</th>
					<th>Approved</th>
				</tr>
			</thead>
			<tbody>
				<tr class="data-rows" th:each="f : ${lmList}">
					<td th:text="${f.username}"></td>
					<td th:text="${f.totalSalary}">
						<input type="hidden" name="id" class="lmid" th:value="${f.id}"/>
						<input type="hidden" name="userId" class="userId" th:value="${f.userId}"/>
						
					</td>
					<td>
						<div>
							<table border="1">
								<thead>
									<tr>
										<th>Grade</th>
										<th>Name</th>
										<th>Trn Type</th>
										<th>Amount Type</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="b : ${f.breakdown}">
										<td th:text="${b.gradeName}"></td>
										<td th:text="${b.name}"></td>
										<td th:text="${b.trnType}"></td>
										<td th:text="${b.amountType}"></td>
										<td th:text="${b.amount}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
					<td th:text="${f.payableAfterBreakDown}"></td>
					<td th:text="${f.totalLeaveTakenInYear}"></td>
					<td th:text="${f.totalWorkingDaysInMonth}"></td>
					<td th:text="${f.totalAttendInMonth}"></td>
					<td th:text="${f.leaveTakenInMonth}"></td>
					<td th:text="${f.totalLateInMonth}"></td>
					<td th:text="${f.totalUndeclearedTaskInMonth}"></td>
					<td th:text="${f.totalUnpaidLeaveInMonth}"></td>
					<td th:text="${f.unpaidLeaveAmount}"></td>
					<td th:text="${f.totalFoodDaysInMonth}"></td>
					<td th:text="${f.foodBillInMonth}"></td>
					<td th:text="${f.netPayable}"></td>
					<td>
						<input class="approvedChecck" type="checkbox" th:value="${f.approved}" th:checked="${f.approved}"/>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="16">
						<button style="width: 100%; cursor: pointer;" class="submit-lm">Submit</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>