<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Transaction</title>
	</head>
	<body>
		<a th:href="@{/}">Home</a>
		<br/>
		<hr/>
		<br/>
		<p th:if="${res ne null and res.status == false}" style="color: red;" th:text="${res.message}"></p>
		<p th:if="${res ne null and res.status == true}" style="color: green;" th:text="${res.message}"></p>
		<form th:object="${trn}" th:action="@{/transaction}" method="POST">
			<fieldset>
				<input type="hidden" th:field="*{id}" />
				<label>Name</label><br/>
				<input type="text" th:field="*{name}" /><br/>
				<label>Type</label><br/>
				<select th:field="*{transactionType}">
					<option th:each="trnv : ${T(com.kit.enums.TransactionType).values()}"
							th:value="${trnv}"
							th:text="${trnv}">
					</option>
				</select><br/>
				<label>Active</label><br/>
				<input type="checkbox" th:field="*{status}" /><br/>
				<button type="submit">Submit</button>
				<a th:href="@{/transaction}">Clear</a>
			</fieldset>
		</form>
		<br/>
		<hr/>
		<br/>
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="d : ${trnList}">
					<td><a th:href="@{/transaction/} + ${d.id}" th:text="${d.name}"></a></td>
					<td th:text="${d.transactionType}"></td>
					<td th:text="${d.status == true ? 'Active' : 'Inactive'}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>