<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>User</title>
	</head>
	<body>
		<a th:href="@{/}">Home</a>
		<br/>
		<hr/>
		<br/>
		<p th:if="${res ne null and res.status == false}" style="color: red;" th:text="${res.message}"></p>
		<p th:if="${res ne null and res.status == true}" style="color: green;" th:text="${res.message}"></p>
		<form th:object="${us}" th:action="@{/user}" method="POST">
			<fieldset>
				<input type="hidden" th:field="*{id}" />
				<label>Name</label>
				<input type="text" th:field="*{username}" /><br/>
				<label>Email</label>
				<input type="email" th:field="*{email}" /><br/>
				<label>Password</label>
				<input type="text" th:field="*{password}" /><br/>
				<label>Active</label>
				<input type="checkbox" th:field="*{status}" /><br/>
				<br/>
				<button type="submit">Submit</button>
				<a th:href="@{/user}">Clear</a>
			</fieldset>
		</form>
		<br/>
		<hr/>
		<br/>
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="d : ${usList}">
					<td><a th:href="@{/user/} + ${d.id}" th:text="${d.username}"></a></td>
					<td th:text="${d.email}"></td>
					<td th:text="${d.status == true ? 'Active' : 'Inactive'}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>